<!-- NavBar -->
<div class="navbar">
  <p>Nav desde app.component</p>
  <button routerLink="" class="w3-button"><i class="fa fa-home"></i> Home</button>
  <button routerLink="tabla" class="w3-button"><i class="fa fa-table"></i> tabla</button>
</div>

<!-- Content -->
<div class="background" id="home">
<router-outlet />
<br>
</div>

<!-- Footer -->
<footer>
  <a href="  http://localhost:5214/swagger/index.html" Target="_blank">
    <button class="w3-button"><i class="fa fa-cloud"></i> Swagger</button>
  </a>
</footer>