img{
    max-width: 350px;
    border-radius: 25px;
    margin: 5px;
}
input{
    border: solid 1px;
    border-radius: 5px;
}

button {
    cursor: pointer;
    color: white;
    background-color: black;
    border-radius: 8px;
    margin: 2px;
    max-width: 150px;
    transition: background-color .4s, color .4s, transform .1s;

    &:hover {
        color: white;
    }
}