<div class="content">
    <h1>Detalle del usuario {{id}}</h1>
    <div class="card-content">
        <div class="card">
            <div class="info">
                <p class="name">Nombre:</p>
                <p class="data name-value">{{ Name }}</p>
            </div>
            <div class="info">
                <p class="name">Edad:</p>
                <p class="data age">{{ Age }}</p>
            </div>
            <div class="info">
                <p class="name">Id:</p>
                <p class="data id">{{ id }}</p>
            </div>
            <div class="buttons">
                <app-btn-volver></app-btn-volver>
                <button class="w3-button" [routerLink]="['/modificar',id]">Modificar <i class="fa fa-pencil"></i></button>
                <app-btn-eliminar [id]="id"></app-btn-eliminar>
            </div>
        </div>
    </div>
</div>