button {
    cursor: pointer;
    color: white;
    background-color: darkcyan;
    border-radius: 8px;
    max-width: 150px;
    margin: 2px;
    transition: background-color .4s, color .4s, transform .1s;

    &:hover {
        color: white;
    }
}