.content {
    text-align: center;
    justify-content: center;
    align-items: center;
}

input{
    margin-top: 5px;
    height: 80%;
    width: 99%;
    border: solid 1px;
    border-radius: 5px;
    padding: 5px;
}

button {
    background-color: white;
}

h1 {
    font-size: 3.125rem;
    color: white;
    font-size: xx-large;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -0.125rem;
    margin: 0;
    padding: 2vw;
    font-family: "Inter Tight", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
        "Segoe UI Symbol";
}

.card-content{
    display: flex;
    justify-content: center;
    margin: 5px;
}



.card {
    width: 300px;
    height: auto;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .info {
        display: flex;
        justify-content: space-between;
    }

    .info-id{
        margin-top: 5px;
        height: 80%;
        width: 99%;
        border: solid 1px;
        border-radius: 5px;
    }

    p{
        margin: 5px;
        font-size: medium;
    }

    .data {
        margin-left: auto; /* Mueve el nombre-value a la derecha */
    }

    .buttons {
        width: 100%;
        display: flex;
        margin-top: 10px;
        button {
            cursor: pointer;
            color: white;
            background-color: black;
            border-radius: 8px;
            margin: 2px;
            width: 100%;
            transition: background-color .4s, color .4s, transform .1s;

            &:hover {
                color: white;
            }
        }

    }
}