<div class="content">
    <h1>Agregar usuario</h1>
    <div class="card-content">
        <div class="card">
            <div class="info">
                <input type="text" placeholder="Nombre" [(ngModel)]="nombre" minlength="8" required>
            </div>
            <div class="info">
                <input type="number" placeholder="Mayor de 18 años" [(ngModel)]="edad">
            </div>
            <div class="buttons">
                <button class="w3-button" (click)="crearUsuario()" >Agregar <i class="fa fa-plus"></i> </button>
            </div>
        </div>
    </div>
</div>